@import "./variables.css";

.lqip {
    position: relative;
}

.lqip-container,
.lqip-thumbnail,
.lqip-canvas,
.lqip-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
}

.lqip-container {
    background: var(--color-gray-darkest);
}

.lqip-thumbnail {
    display: none !important;
}

.lqip-canvas,
.lqip-image {
    opacity: 0;
    transition: opacity 0.4s;
}

.canvas-loaded .lqip-canvas {
    opacity: 1;
}

.image-loaded .lqip-image {
    opacity: 1;
}